.container {
  display: flex;
  flex-direction: column;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 140%;
  margin-bottom: 12px;
}

.tag {
  background: #FFFFFF;
  border: 1px solid #9BACB5;
  border-radius: 6px;
  padding: 12px 16px 10px 16px;
  margin-right: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #565656;
  width: 75%;
}

.add {
  background: #000000;
  border-radius: 8px;
  color: white;
  width: 20%;
  padding: 11px 34px;
  font-weight: 400;
  font-size: 15px;
}

.add:disabled {
  background: #565656;
  cursor: default;
}