.nav {
  background: #E5E5E5;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 26px;

}

.button {
  padding: 14px 160px 14px 20px;
  margin-bottom: 4px;
  border: none;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
  background: #E5E9EB;
  border-radius: 12px;
  font-size: 17px;
  line-height: 140%;
  color: #373737;

}
.buttonActive {
  background: #2C5061;
  color: white;
}

.buttonAdd {
  color: #71868E;
}

.childrenSection {
  width: 70%;
}