.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 20px 24px;
  margin-bottom: 8px;
  border: 1px solid #C4CDD2;
  position: relative;
}

.checkboxContainer {
  margin-right: 16px;
}

.checkbox {
  width: 32px;
  height: 32px;
  border: 2px solid #C4CDD2;
  left: 28px;
  top: 19px;
  cursor: pointer;
}

.taskNameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 84%;
  margin-right: 16px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 8px;
}

.nameDo {
  text-decoration: line-through;
  margin-bottom: 8px;
}

.description {
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: #565656;
  margin-bottom: 16px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
}

.buttonTag {
  cursor: pointer;
  background: #2C5061;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  color: white;
  padding: 2px 16px;
}


